# ==========================================
# Secrets
# ==========================================
.env
.env.*

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Build
# ==========================================
build/
dist/
*.egg-info/

# Logs
*.log